<section class="card-set wrapper">
  <p class="excerpt">SLIDER</p>

  <div class="image-slider swiper">
    <div class="image-slider-wrapper swiper-wrapper">
      <div class="image-slider-slide swiper-slide">
        <div class="image-slider-image">
          <img class="position" src="./img/tomato1.jpg" alt="foto" />
        </div>
      </div>
      <div class="image-slider-slide swiper-slide">
        <div class="image-slider-image">
          <img class="position" src="./img/tomato2.jpg" alt="foto" />
        </div>
      </div>
      <div class="image-slider-slide swiper-slide">
        <div class="image-slider-image">
          <img class="position" src="./img/tomato3.jpg" alt="foto" />
        </div>
      </div>

      <div class="image-slider-slide swiper-slide">
        <div class="image-slider-image">
          <video
            width="465"
            height="450"
            src="./img/heinz-tomato-growing3.mp4"
            controls
          ></video>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<div class="box indigo">
  <video
    width="465"
    height="290"
    src="./img/heinz-tomato-ketchup_grown.mp4"
    controls
  ></video>
  <p class="text-block1 color-text-block1">Bell pepper pasta</p>
</div>
<div class="box amber">
  <video
    width="465"
    height="290"
    src="./img/heinz-ketchup1.mp4"
    controls
  ></video>
  <p class="text-block1 color-text-block1">Tomato paste</p>
</div>
