<!--Підвал сторінки-->
<footer class="footer">
  <div class="container-footer">
    <div class="footer-info">
      <a href="" class="logo-footer">
        <div class="logo-tomato">
          <img src="./img/Vector.png" alt="Logo" />
        </div>
        <p class="logo-text">CUCINA</p>
      </a>
      <ul class="menu-list">
        <li class="menu-item"><a href="" class="menu-link">Home</a></li>
        <li class="menu-item"><a href="" class="menu-link">Store</a></li>
        <li class="menu-item">
          <a href="" class="menu-link">Recipes</a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">Gallery</a>
        </li>
      </ul>
      <address>
        <ul class="contact-list">
          <li class="contact-item">
            <a href="" class="contact-link-icon">
              <svg>
                <use
                  href="./img/symbol-defs.svg#icon-location"
                  width="24"
                  height="24"
                ></use>
              </svg>
              <a href="" class="contact-link">Elvia Elviaveien 1, 1234 Oslo</a>
            </a>
          </li>

          <li class="contact-item">
            <a href="" class="contact-link-icon">
              <svg>
                <use
                  href="./img/symbol-defs.svg#icon-email-line "
                  width="24"
                  height="24"
                ></use>
              </svg>
              <a href="mailto:willie.jennings@example.com" class="contact-link"
                >willie.jennings@example.com</a
              >
            </a>
          </li>
        </ul>
      </address>

      <ul class="media-list">
        <li class="media-item">
          <a href="" class="media-link">
            <svg class="media-link-icon">
              <use
                href="./img/symbol-defs.svg#icon-tumblr"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-link">
            <svg class="media-link-icon">
              <use
                href="./img/symbol-defs.svg#icon-instagram"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-link">
            <svg class="media-link-icon">
              <use
                href="./img/symbol-defs.svg#icon-youtube"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
        <li class="media-item">
          <a href="" class="media-link"
            ><svg class="media-link-icon">
              <use
                href="./img/symbol-defs.svg#icon-twitter"
                width="24"
                height="24"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="by-using">
      By using this website, you agree to the
      <span> <a href="">Terms of Service</a></span> and
      <span> <a href="">Privacy Policy</a></span>
    </p>
  </div>
</footer>
