<header>
  <div class="container header">
    <nav class="main-nav">
      <a href="http://" target="_blank" rel="noopener noreferrer" class="logo"
        ><img
          src="./img/icons/Vector.svg"
          alt="logo-icon"
          width="32px"
          class="logo-icon"
        />CUCINA</a
      >
      <ul class="site-nav list">
        <li class="item">
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
            class="link"
            >Home</a
          >
        </li>
        <li class="item">
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
            class="link"
            >Store</a
          >
        </li>
        <li class="item">
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
            class="link"
            >Recipes</a
          >
        </li>
        <li class="item">
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
            class="link"
            >Gallery</a
          >
        </li>
      </ul>
      <button class="contact-button">Contact us</button>
    </nav>
  </div>
</header>
