<section class="hero-section">
  <div class="container hero">
    <div class="hero-title">
      <h1 class="main-title">
        <img src="./img/icons/Vector.svg" alt="vector" class="hero-vector" />
        CUCINA DI CATHERINA
      </h1>
      <p class="hero-text">We know, you will <span>love</span> our product</p>
      <button>Buy now</button>

      <ul class="list">
        <li>14 different tastes</li>
        <li>31 factories around the world</li>
      </ul>
    </div>

    <div class="hero-ketchup">
      <img src="./img/ketchup-l-05-1.png" alt="ketchup-l-05-1" />

      <ul class="list">
        <li>ITALY TOMATOES</li>
        <li>FRESH GARLIC</li>
        <li>WHITE WINE</li>
        <li>FRESH BASIL</li>
      </ul>
    </div>

    <div class="hero-social">
      <ul class="list">
        <li class="hero-social-item">
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/tambler.svg" alt="tambler"
          /></a>
        </li>
        <li class="hero-social-item">
          <a href="http://" target="_blank" rel="noopener noreferrer"
            ><img src="./img/icons/instagram.svg" alt="instagram"
          /></a>
        </li>
        <li class="hero-social-item">
          <a href="http://" target="_blank" rel="noopener noreferrer"
            ><img src="./img/icons/YouTube.svg" alt="YouTube"
          /></a>
        </li>
        <li class="hero-social-item">
          <a href="http://" target="_blank" rel="noopener noreferrer"
            ><img src="./img/icons/Twitter.svg" alt="Twitter"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</section>
