<!-- section sauce -->
<section class="sauce">
  <div class="container">
    <div class="blok-spisy">
      <ul class="spisy-list list">
        <li class="spisy-item">
          <img
            class="spisy-photo"
            src="./img/img_sauce_1.jpg"
            alt="sauce"
            width="349"
            height="349"
          />
          <h2 class="spisy-title title">Spicy sauce</h2>
          <p class="spisy-text">
            For thrill-seekers, we added hot chili pepper to our sauce, it also
            reveals all the tastes and aromas of the sauce well.
          </p>
          <button type="button" class="spisy-btn button">Buy now</button>
        </li>
      </ul>
    </div>
    <div class="blok-classik">
      <ul class="classik-list list">
        <li class="classik-item">
          <h2 class="classik-title title">Classic sauce</h2>
          <p class="classik-text">
            The most delicate taste of tomatoes, combined with branded spices
            and white wine, will make your dish incredibly tasty.
          </p>
          <button type="button" class="classik-btn button">Buy now</button>
          <img
            class="classik-photo"
            src="./img/img_sauce_2.jpg"
            alt="sauce"
            width="349"
            height="349"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- /section sauce -->
